<div class="container">

    <div class="row">
        <div class="col-3">
            <div class="card students" (click)="Cardfun('Students')">
                <div class="row">
                    <div class="col-12">
                        <h6>Total Students</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 ">
                        <i class="fa fa-user"> </i>
                    </div>
                    <div class="col-6 text-end textfont">
                        {{StudentCount}}

                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h6>This Month</h6>
                    </div>
                    <div class="col-6 text-end">
                        0

                    </div>

                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card Employees" (click)="Cardfun('Employees')">
                <div class="row">
                    <div class="col-12 ">
                        <h6>Total Employees</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <!-- <i class="fa-solid fa-user-secret"></i> -->
                        <i class="fa fa-user-secret"> </i>
                    </div>
                    <div class="col-6 text-end textfont">
                        {{EmployeeCount}}

                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h6>This Month</h6>                        
                    </div>
                    <div class="col-6 text-end">
                        0

                    </div>

                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card revenue">
                <div class="row">
                    <div class="col-12">
                        <h6>Revenue</h6>                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <i class="fa fa-dollar-sign"> </i>
                    </div>
                    <div class="col-6 text-end textfont">
                        0

                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h6>This Month</h6>
                    </div>
                    <div class="col-6 text-end">
                        0

                    </div>

                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card profit">
                <div class="row">
                    <div class="col-12">
                        <h6>Total Profit</h6>                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <i class="fa fa-dollar-sign"> </i>
                    </div>
                    <div class="col-6 text-end textfont">
                        0

                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h6>This Month</h6>                        
                    </div>
                    <div class="col-6 text-end">
                        0

                    </div>

                </div>
            </div>
        </div>


    </div>